body {
  color: blueviolet;
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#ADFFE8), to(#FFD6FF));
  font-family: 'Raleway', sans-serif;
  padding: 0px; }
  body p {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif; }
  body h1 {
    color: blueviolet;
    font-family: 'Josefin Sans', sans-serif; }
  body .titulo {
    text-align: center;
    margin-top: 10px; }
  body .titulosPreguntas {
    text-align: center; }
  body .dropdown-item.active, body .dropdown-item:active {
    background: blueviolet; }
  body .page-link {
    color: blueviolet; }
  body .featurette-heading {
    margin-top: 20px; }
  body .preguntas {
    text-align: center;
    color: magenta;
    margin-bottom: 60px; }
  body .t-stroke-shadow {
    color: #e8858e;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px blueviolet; }

.item1 {
  transform: rotate(5deg) scale(0.924) skew(-1deg) translate(-3px);
  -webkit-transform: rotate(5deg) scale(0.924) skew(-1deg) translate(-3px);
  -moz-transform: rotate(5deg) scale(0.924) skew(-1deg) translate(-3px);
  -o-transform: rotate(5deg) scale(0.924) skew(-1deg) translate(-3px);
  -ms-transform: rotate(5deg) scale(0.924) skew(-1deg) translate(-3px);
  width: 250px;
  height: 250px;
  margin-left: 30px; }

.item2 {
  transform: rotate(-2deg) scale(0.92) skew(2deg) translate(-3px);
  -webkit-transform: rotate(-2deg) scale(0.92) skew(2deg) translate(-3px);
  -moz-transform: rotate(-2deg) scale(0.92) skew(2deg) translate(-3px);
  -o-transform: rotate(-2deg) scale(0.92) skew(2deg) translate(-3px);
  -ms-transform: rotate(-2deg) scale(0.92) skew(2deg) translate(-3px);
  width: 250px;
  height: 250px; }

.imagen {
  object-fit: cover; }

#iframe {
  display: block;
  margin: 0 auto; }

.AnimacionTitulo {
  -webkit-animation: cssAnimation 1s 2 ease;
  -moz-animation: cssAnimation 1s 2 ease;
  -o-animation: cssAnimation 1s 2 ease; }

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

@-moz-keyframes cssAnimation {
  from {
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

@-o-keyframes cssAnimation {
  from {
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

.efecto {
  transition: all 1s; }

.efecto:hover {
  height: 250px;
  width: 250px; }

#logo {
  width: 110px; }

.breadcrumb {
  background-color: rgba(255, 255, 255, 0); }

.whitesmoke {
  background-color: whitesmoke; }

.navbar-light .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #59139a; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.6) !important; }

#form {
  text-align: center; }

.pointer {
  cursor: pointer; }

.rowFooter {
  margin: 0; }

.nav-link {
  color: blueviolet !important;
  font-size: 18px;
  margin: 10px; }

.wishlist {
  background-color: aquamarine; }

.lightgrey {
  background-color: lightgrey; }

.navbar-light .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #59139a; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.6) !important; }

#form {
  text-align: center; }

.pointer {
  cursor: pointer; }

.rowFooter {
  margin: 0; }

.nav-link {
  color: blueviolet !important;
  font-size: 18px;
  margin: 10px; }

.wishlist {
  background-color: aquamarine; }

.silver {
  background-color: silver; }

.navbar-light .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #59139a; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.6) !important; }

#form {
  text-align: center; }

.pointer {
  cursor: pointer; }

.rowFooter {
  margin: 0; }

.nav-link {
  color: blueviolet !important;
  font-size: 18px;
  margin: 10px; }

.wishlist {
  background-color: aquamarine; }

footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.6); }

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  bottom: initial; }

.line-title-slider {
  line-height: 1; }

.redes {
  margin: 0 5px; }

#newsletter {
  margin: 25px 25px 0px 0px; }

.container-main {
  min-height: 471px; }

.form-control {
  margin-top: 30px; }

.form-group {
  margin-bottom: 0px; }

.btn-sm {
  height: 37px;
  background-color: blueviolet;
  margin-top: 25px; }

@media (min-width: 230px) and (max-width: 438px) {
  grid-template-columns: auto;
  grid-template-rows: auto; }

@media (min-width: 439px) and (max-width: 768px) {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto; }

@media (min-width: 2049px) {
  .footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0; } }
