.AnimacionTitulo {
  -webkit-animation: cssAnimation 1s 2 ease;
  -moz-animation: cssAnimation 1s 2 ease;
  -o-animation: cssAnimation 1s 2 ease; }

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

@-moz-keyframes cssAnimation {
  from {
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

@-o-keyframes cssAnimation {
  from {
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); } }

.efecto {
  transition: all 1s;
}
.efecto:hover {
  height: 250px;
  width: 250px; }
