body {
  color: blueviolet;
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#ADFFE8), to(#FFD6FF));
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 0px;

p {
  color: black; }

h1 {
  color: blueviolet;
  font-family: 'Josefin Sans', sans-serif; }

.titulo {
  text-align: center;
  margin-top: 10px; }

.dropdown-item.active, .dropdown-item:active {
  background: blueviolet; }

.featurette-heading {
  margin-top: 20px; }
}
.novedades {
  text-align: center;
  color: magenta;
  margin-bottom: 60px; }

.preguntas {
  text-align: center;
  color: magenta;
  margin-bottom: 60px; }
