@import "fuentes";
@import "imagen";
@import "efectos";

$color: whitesmoke;

#logo {
width: 110px;
}
.breadcrumb {
  background-color: rgba(255, 255, 255, 0);
}
@each $color in whitesmoke, lightgrey, silver {
   .#{$color} {
     background-color: #{$color};
   }
.navbar-light .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #59139a;
}
.bg-light {
  background-color: rgba(255,255,255,0.6)!important;
}
#form {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.rowFooter {
  margin: 0;
}
.nav-link {
  color: blueviolet!important;
  font-size: 18px;
  margin: 10px; }

.wishlist {
  background-color: aquamarine; }
}
footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: rgba(255,255,255,0.6);
}
.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  bottom: initial;
}
.line-title-slider {
  line-height: 1;
}
.redes {
  margin: 0 5px;
}
#newsletter {
  margin: 25px 25px 0px 0px;
}
.container-main {
  min-height: 471px;
}
.form-control {
  margin-top: 30px;
}
.form-group {
  margin-bottom: 0px;
}
.btn-sm {
  height: 37px;
  background-color: blueviolet;
  margin-top: 25px;
}
@media (min-width: 230px) and (max-width: 438px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media (min-width: 439px) and (max-width: 768px) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;

}
@media (min-width: 2049px) {
    .footer-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
    }


}
