@import "fuentes";
@import "imagen";
@import "efectos";

#logo {
width: 110px;
}
.navbar-light .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #59139a;
}
.bg-light {
  background-color: rgba(255,255,255,0.6)!important;
}
.nav-link {
  color: blueviolet!important;
  font-size: 18px;
  margin: 10px; }
  
.wishlist {
  background-color: blue; }

footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.6);
}
@media (min-width: 230px) and (max-width: 438px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media (min-width: 439px) and (max-width: 768px) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;

}
